extends ./layout/app

block contenido
    include ./templates/categories

    //- propeties
    section(class="py-0 lg:py-10")
        h2.h2.text-center= pagina

        div.flex.justify-between
            //- search
            div(class="relative flex gap-x-[10px] items-center")
                label(for="search")
                    div.text-accent
                        include ../icons/search
                input(
                    type="text"
                    id="search"
                    name="search"
                    placeholder="Buscar..."
                    class="outline-none w-[160px] bg-transparent focus:border-b-2 focus:border-accent placeholder:italic"
                )
            //- newProperty
            div(class="p-4 my-5")

        if properties.length
            div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5")
                each property in properties
                    //- card
                    include ./templates/card
            
            //- pagination
            if actualPage === 1
                if total > limit
                    div(class="bg-whit px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6 mt-6")

                        div(class="flex-1 flex justify-between sm:hidden")
                            if actualPage !== 1
                                a(
                                    href=`/categorias/${id}?pagina=${actualPage - 1}`
                                    class=`${actualPage === 1 ? 'pointer-events-none' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-primary bg-white hover:bg-gray-50`
                                ) Anterior
                            else 
                                div
                            a(
                                href=`/categorias/${id}?pagina=${actualPage + 1}`
                                class=`${actualPage === pages ? 'pointer-events-none' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-primary bg-white hover:bg-gray-50`
                            ) Siguiente

                        div(class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between")
                            p(class="text-sm font-medium text-primary gap-2") Mostrando 
                                span #{offset + 1} a 
                                span #{total < limit + offset ? total : limit + offset} de 
                                span #{total} resultados
                        
                        div(class="hidden sm:block")
                            nav(class="relative z-0 inline-flex rounded-md shadow-md")
                                - var n = 1;
                                    while n <= pages 
                                        a(
                                            href=`/categorias/${id}?pagina=${n}`
                                            class=`${actualPage == n ? 'bg-blue-50 border-blue-500 text-accent' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`
                                        ) #{n++}
            else
                div(class="bg-whit px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6 mt-6")

                    div(class="flex-1 flex justify-between sm:hidden")
                        a(
                            href=`/categorias/${id}?pagina=${actualPage - 1}`
                            class=`${actualPage === 1 ? 'pointer-events-none' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-primary bg-white hover:bg-gray-50`
                        ) Anterior
                        if actualPage !== pages
                            a(
                                href=`/categorias/${id}?pagina=${actualPage + 1}`
                                class=`${actualPage === pages ? 'pointer-events-none' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-primary bg-white hover:bg-gray-50`
                            ) Siguiente

                    div(class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between")
                        p(class="text-sm font-medium text-primary gap-2") Mostrando 
                            span #{offset + 1} a 
                            span #{total < limit + offset ? total : limit + offset} de 
                            span #{total} resultados
                    
                    div(class="hidden sm:block")
                        nav(class="relative z-0 inline-flex rounded-md shadow-md")
                            - var n = 1;
                                while n <= pages 
                                    a(
                                        href=`/categorias/${id}?pagina=${n}`
                                        class=`${actualPage == n ? 'bg-blue-50 border-blue-500 text-accent' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`
                                        ) #{n++}

        else
            p.text-center.my-10 No hay resultados

block scripts
    script(src="/js/filtersHome.js")