extends ./layout/app

block contenido
    div(class="py-0 lg:py-10")
        h2.h2.text-center= pagina

        div.flex.justify-end
            a(
                href="/" 
                class="btn-accent rounded-full p-3 mt-2"
            ) 
                include ../icons/leftRow

        if errors
            div(class="max-w-2xl mx-auto my-10")
                each error in errors
                    p.bg-red-100.text-red-600.text-sm.text-center.p-2.mb-1.font-bold.rounded= error.msg

        div(class="bg-white border-gray-200 shadow py-8 px-4 rounded-lg mx-auto max-w-4xl my-5 md:px-10")
            form.space-y-6(method="POST" action="/contacto")
                input(
                    type="hidden"
                    name="_csrf"
                    value= csrfToken
                )
                div.space-y-4
                    p.text-secondary Rellena los campos solicitados
                    //- name
                    div
                        label.block.text-medium.text-accent.mb-1(for='name') Tu nombre
                        input#name.w-full.px-3.py-1.border.border-gray-300.outline-blue-400.rounded-md.text-secondary.placeholder-gray-400(
                            placeholder='Ingresa tu nombre completo' 
                            type='text' 
                            name='name'
                            value= data.name ? data.name : ''
                        )
                    div(class="md:flex md:gap-4 space-y-4 md:space-y-0")
                        //- email
                        div(class="md:w-1/2")
                            label.block.text-medium.text-accent.mb-1(for='email') Tu email
                            input#email.w-full.px-3.py-1.border.border-gray-300.outline-blue-400.rounded-md.text-secondary.placeholder-gray-400(
                                placeholder='ejemplo@correo.com' 
                                type='email' 
                                name='email'
                                value= data.email ? data.email : ''
                            )
                        //- tel
                        div(class="md:w-1/2")
                            label.block.text-medium.text-accent.mb-1(for='tel') Tu número de celular
                            input#tel.w-full.px-3.py-1.border.border-gray-300.outline-blue-400.rounded-md.text-secondary.placeholder-gray-400(
                                placeholder='Ingresa tu número de celular (opcional)' 
                                type='tel' 
                                name='tel'
                                value= data.tel ? data.tel : ''
                            )
                    //- subject 
                    div
                        label.block.text-medium.text-accent.mb-1(for='subject') Asunto
                        input#subject.w-full.px-3.py-1.border.border-gray-300.outline-blue-400.rounded-md.text-secondary.placeholder-gray-400(
                            placeholder='Ej: Negocios, Ajendar cita' 
                            type='text' 
                            name='subject'
                            value= data.subject ? data.subject : ''
                        )
                    //- message
                    div
                        label.block.text-medium.text-accent.mb-1(for='message') Tu mensaje
                        textarea#message.w-full.px-3.py-2.border.border-gray-300.outline-blue-400.rounded-md.text-secondary.placeholder-gray-400(
                            placeholder='Escribe tu mensaje aquí' 
                            type='text' 
                            name='message'
                            value= data.message ? data.message : ''
                        )
                    input(
                            type="submit", 
                            value="Enviar mensaje"
                            class="btn btn-sm btn-outline w-auto md:w-[280px] xl:w-[340px] mx-auto mt-10"
                        )

block scripts
    script(src="/js/filtersHome.js")