extends ../layout/admin

block styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    meta(name="csrf-token" content= csrfToken)

block contenido
    div(class="py-0 lg:py-10")
        h2.h2.text-center= pagina

        div.flex.justify-end
            a(
                href="/mis-propiedades" 
                class="btn-accent rounded-full p-3 mt-2"
            ) 
                include ../../icons/leftRow.pug

        div(class="bg-white border-gray-200 shadow py-8 px-4 rounded-lg mx-auto max-w-4xl my-5 md:px-10")

            p.mb-2 Imagenes actuales:
            div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5")
                each image in images
                    //- image
                    div(class="relative overflow-hidden")
                        img(
                            src=`/uploads/${image.name}`
                            alt=`Imagen de la propiedad ${property.title}`
                            class="object-cover w-full"
                        )
            form(
                id="image"
                class="dropzone border-dashed border-2 w-full min:h-96 h-auto rounded flex-col justify-center items-center mt-5" 
                method="POST" 
                action=`/propiedades/agregar-nueva-imagen/${property.id}`
                enctype="multipart/form-data"
            )
                input(
                    type="hidden"
                    name="_csrf"
                    value= csrfToken
                )

            button(
                id="publish"
                type="button",
                class="btn btn-sm btn-accent w-auto md:w-[280px] xl:w-[340px] mx-auto mt-10"
            ) Subir imagenes

block scripts
    script(src="/js/filtersHome.js")
    script(src="/js/addImage.js")