div(class="py-5 hidden lg:block")
    //- list
    ul.container.mx-auto.flex.justify-between.gap-x-4
        li
            //- Casas
            a(
                href="/categorias/1"
                class="flex justify-center items-center gap-x-2 lg:justify-normal"
            )
                span.text-secondary
                    include ../icons/home
                p(class="text-primary hover:text-accent transition-all duration-300") Casas
        li
            //- Departamentos
            a(
                href="/categorias/2"
                class="flex justify-center items-center gap-x-2 lg:justify-normal"
            )
                span.text-secondary
                    include ../icons/departments
                p(class="text-primary hover:text-accent transition-all duration-300") Departamentos
        li
            //- Terrenos
            a(
                href="/categorias/3"
                class="flex justify-center items-center gap-x-2 lg:justify-normal"
            )
                span.text-secondary
                        include ../icons/land
                p(class="text-primary hover:text-accent transition-all duration-300") Terrenos
        li
            //- Bodegas
            a(
                href="/categorias/4"
                class="flex justify-center items-center gap-x-2 lg:justify-normal"
            )
                span.text-secondary
                    include ../icons/store
                p(class="text-primary hover:text-accent transition-all duration-300") Bodegas
        li
            //- Locales
            a(
                href="/categorias/5"
                class="flex justify-center items-center gap-x-2 lg:justify-normal"
            )
                span.text-secondary
                        include ../icons/properties
                p(class="text-primary hover:text-accent transition-all duration-300") Locales
        li
            //- Edificios
            a(
                href="/categorias/6"
                class="flex justify-center items-center gap-x-2 lg:justify-normal"
            )
                span.text-secondary
                    include ../icons/building
                p(class="text-primary hover:text-accent transition-all duration-300") Edificios