header(class="py-8 lg:pt-6 lg:pb-14")
    div(class="container mx-auto lg:relative flex flex-col lg:flex-row lg:justify-between items-center gap-y-4 lg:gap-y-0")
        //- logo
        div(class="flex justify-center lg:justify-normal text-2xl")
            a(href="/").text-2xl.text-accent.font-bold Zagas 
                span.font-normal.text-secondary Inmobiliaria
        
        div(class="flex flex-col gap-y-4 lg:flex-row lg:gap-x-10 lg:gap-y-0")
            //- phone
            div(class="flex justify-center items-center gap-x-2 lg:justify-normal")
                div(class="text-[24px] text-accent")
                    include ../../../icons/phone
                p.text-secondary (+487) 384 9452
            //- btn
            div(class="btn btn-sm btn-outline w-[240px] lg:w-auto mx-auto lg:mx-0") Reserva ahora

            //- movile nav
            nav(class="mnav bg-white fixed w-[300px] top-0 h-screen -left-[300px] shadow-2xl lg:hidden transition-all duration-300 z-20")
                //- trigger btn
                div(class="mnav__close-btn bg-primary w-8 h-8 relative -right-full top-8 flex justify-center items-center rounded-tr-full rounded-br-full cursor-pointer transition-all")
                    i(class="mnav__close-btn-icon ri-menu-2-line text-xl text-white")
                //- logo, list
                div(class="px-12 flex flex-col gap-y-12 h-full")
                    //- logo
                    div(class="flex justify-center lg:justify-normal text-2xl")
                        a(href="/").text-2xl.text-accent.font-bold Zagas 
                            span.font-normal.text-secondary Inmobiliaria
                    //- list
                    ul.flex.flex-col.gap-y-5
                        li
                            //- home
                            a(
                                href="/"
                                class="flex items-center gap-x-2 lg:justify-normal text-secondary hover:text-accent transition-all duration-300"
                            )
                                p.text-accent
                                    include ../../../icons/home
                                p Inicio
                        li
                            //- my properties
                            a(
                                href="/mis-propiedades"
                                class="flex items-center gap-x-2 lg:justify-normal text-secondary hover:text-accent transition-all duration-300"
                            )
                                p.text-accent
                                    include ../../../icons/properties
                                p Mis propiedades
                        li
                            //- map
                            a(
                                href="/mapa"
                                class="flex items-center gap-x-2 lg:justify-normal text-secondary hover:text-accent transition-all duration-300"
                            )
                                p.text-accent
                                    include ../../../icons/map
                                p Buscar en el mapa

        nav(class="bg-white absolute w-full left-0 -bottom-[86px] shadow-custom1 h-16 rounded-[10px] hidden lg:flex lg:items-center lg:justify-between lg:px-[50px]")
            //- list
            ul.flex.gap-x-4 
                li
                    //- home
                    a(
                        href="/"
                        class="flex justify-center items-center gap-x-2 lg:justify-normal"
                    )
                        span.text-accent
                            include ../../../icons/home

                        p(class="border-r pr-4 text-secondary hover:text-accent transition-all duration-300") Inicio
                li
                    //- my properties
                    a(
                        href="/mis-propiedades"
                        class="flex justify-center items-center gap-x-2 lg:justify-normal"
                    )
                        span.text-accent
                            include ../../../icons/properties
                        p(class="border-r pr-4 text-secondary hover:text-accent transition-all duration-300") Mis Propiedades

            div(class="flex justify-center items-center group")
                ul.flex.gap-x-4 
                    if !user
                        li
                            //- login
                            a(
                                href="/auth/login"
                                class="flex justify-center items-center gap-x-2 lg:justify-normal text-secondary hover:text-accent transition-all duration-300"
                            )
                                p.text-accent
                                    include ../../../icons/login
                                p(class="border-r pr-4") Login
                        li
                            //- register
                            a(
                                href="/auth/registro"
                                class="flex justify-center items-center gap-x-2 lg:justify-normal text-secondary hover:text-accent transition-all duration-300"
                            )
                                p.text-accent
                                    include ../../../icons/register
                                p Crear cuenta
                    else 
                        //- logout
                        li
                            form(
                                    action="/auth/cerrar-sesion" 
                                    method="POST"
                                    class="flex justify-center items-center gap-x-2 lg:justify-normal text-secondary hover:text-accent transition-all duration-300"
                                ) 
                                input(
                                    type="hidden"
                                    name="_csrf"
                                    value= csrfToken
                                )
                                p.text-accent
                                    include ../../../icons/logout
                                input(
                                    type="submit"
                                    value="Cerrar sesión"
                                )
